/* Engines Visualization Styling */
#engines-visualization {
    position: relative;
    text-align: center;
    display: flex;

}

.bar:hover {
    opacity: 0.8;
}

/* Sustainability Outlined Bar */
.sustainability-bar {
    fill: none;
    stroke-width: 2px;
    stroke-dasharray: 5, 3;
    /* Optional dashed outline for sustainability */
}

/* Axis Labels */
.axis-label {
    font-size: 14px;
    fill: white;
    font-weight: bold;
}

/* Legend Styling */
.legend-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.legend-item rect {
    border-radius: 4px;
}

/* Tooltip Styling */
.tooltip {
    font-size: 14px;
    position: absolute;
    visibility: hidden;
    background: white;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    pointer-events: none;
}

/* Donut Chart Text Labels (If Needed) */
.arc text {
    font-size: 12px;
    fill: white;
    font-weight: bold;
    text-anchor: middle;
}

/* X and Y Axis */
.axis path,
.axis line {
    stroke: white;
    stroke-width: 1;
}

.axis-label {
    font-size: 14px;
    fill: white;
    font-weight: bold;
}

/* Ensure axis labels are white */
.axis-label-x,
.axis-label-y {
    font-size: 18px;
    fill: white;
    font-weight: bold;
    text-anchor: middle;
}



/* Adjust legend position */
.legend {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}