/* Base container */
.world-map-container {
    background-color: var(--f1-background);
}

/* Country polygons */
.country {
    fill: #F6F2F1;
    stroke: #000;
    transition: fill 0.3s ease;
}

/* Highlighted countries */
.highlighted-country {
    fill: rgba(203, 40, 59, 0.6);
}

/* Round label markers*/
.round-marker {
    font-family: 'Formula1 Bold', sans-serif;
    font-size: 12px;
    font-weight: bold;
    paint-order: stroke;
    stroke: #000;
    stroke-width: 3px;
    fill: #fff;
    pointer-events: all;
    /* so we can hover/click */
    text-anchor: middle;
}

/* Tooltip / Info Card styling */
.country-info-card,
.race-info-card {
    background: #a3141e;
    color: #fff;
    padding: 12px;
    border-radius: 8px;
    pointer-events: none;
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 100;
    max-width: 300px;
    font-family: 'Formula1 Bold', sans-serif;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.country-info-card .card-header,
.race-info-card .card-header {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 8px;
}

.country-info-card .card-content,
.race-info-card .card-content {
    font-size: 0.9rem;
    line-height: 1.4;
}

.country-info-card .card-race,
.race-info-card .card-race {
    margin-bottom: 12px;
}

.country-info-card h4,
.race-info-card h4 {
    font-size: 1rem;
    margin: 0 0 4px 0;
    font-weight: 600;
}

/* Zoom Controls */
.zoom-controls rect {
    transition: fill 0.3s ease;
}

.zoom-controls rect:hover {
    fill: #555;
}

.custom-hr {
    margin-bottom: 3px;
    border: none;
    border-top: 2px solid #ccc;
}

#race-details-container {
    width: 98%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
}

#podium-container,
#fastest-lap-container,
#driver-standings-container,
#constructor-standings-container {
    width: 100%;
    margin: 0;
    padding: 0;
}

#top-row-charts,
#standings-row {
    width: 100%;
    margin: 0;
    padding: 10px;
    gap: 10px;
}

#race-details-container svg {
    max-width: 100%;
}